*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html{
    font-size: 60%;
    overflow-x: hidden;
}

body{
    background: #090909;
    color: white;
}

.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 64px 15%;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

#menu-icon{
    font-size: 58px;
    color: rgb(182, 135, 235);
    display: none;
}

.logo{
    font-size: 42px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.logo:hover{
    transform: scale(1.1);
}

span{
    background: linear-gradient( 270deg, #9408df 10%, #1544ff 100%, );
    background-clip: text;
    color: transparent;
}

.navbar a{
    font-size: 30px;
    color: white;
    margin-left: 64px;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
}

.navbar a{
    
}